body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    padding: 20px;
}

form {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    max-width: 600px;
}

.longo {
    width: 47%;
}

.longo input {
    width: 100%;
    padding: 6px;
}

.cadastrar {
    width: 100%;
}

p {
    margin: 2px 0;
}

input[type="submit"] {
    padding: 10px;
    background-color: #007BFF;
    color: white;
    border: none;
    cursor: pointer;
}